<%  # bootle template file
    # difine form's api endpoint
    this_api_endpoint = f"{app_settings['context_root']}/{object_name}/{object_id}"
%> 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }} - {{ object_name }}/{{ object_id }}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ app_settings['context_root'] }}/">{{ page_title }}</a>
        <span class="navbar-text">{{ page_description }}</span>
      </div>
    </nav>

    <!-- main container -->
    <div class="container-fluid"> 

          % if status_message:
          <!-- alerts -->
          <div class="d-flex justify-content-center">
            <div class="alert alert-{{ status_class}}" role="alert" style="width: 80%;">
              {{ status_message }}
            </div>
          </div>
          % end

          % if field_name:
          <!-- note edit form -->
          <div class="d-flex justify-content-center">
            <div class="card" style="width: 80%;">
              % if field_infos:
              <div class="card-header bg-success"><strong>{{ field_name }}</strong></div>
              % else:
              <div class="card-header bg-success"><strong>{{ field_name }}</strong> <a style="color:white;text-decoration: none;margin-left: 1em;" href="{{ this_api_endpoint }}">[{{ _translate('zurück zur Infoseite') }}]</a></div>
              % end
                <form method='post' action='{{ this_api_endpoint }}' enctype='multipart/form-data'>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <div class="input-group">
                        <textarea class="form-control" id="{{ field_name }}" name="{{ field_name }}" rows="4" maxlength="50">{{ field_value if field_value else '' }}</textarea>
                        <button class="btn btn-success" type="submit" id="submit-button">{{ _translate('SPEICHERN') }}</button>
                      </div>
                    </li>
                  </ul>
                </form>
            </div>
          </div>
          % end

          <br /> <!-- separator -->

          % if field_infos:
          <!-- show additional infos -->
          <div class="d-flex justify-content-center">
            <div class="card" style="width: 80%;">
              <div class="card-header">Infos - <em>{{ object_name }}/{{ object_id }}</em></div>
              <ul class="list-group list-group-flush">
                % for info_item in field_infos:
                  % if info_item != field_name:
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="input-group">
                      <span class="input-group-text">{{ info_item }}</span>
                      <span class="form-control disabled">{{ field_infos[info_item] }}</span>
                    </div>
                  </li>
                  % end
                % end
              </ul>
            </div>
          </div>
          % end



    </div>
    <!-- /main container -->

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
  </body>
</html>
