% # bootle template file
% context_root = app_settings.get('context_root','')
% page_title = page_title if page_title else os.path.basename(__file__).replace('.html', '')
% page_description = page_description if page_description else f"{page_title} - {app_settings['app_name']}"
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ context_root }}/">{{ page_title }}</a>
        <span class="navbar-text">{{ page_description }}</span>
      </div>
    </nav>

    <!-- main container -->
    <div class="container-fluid"> 

          % if status_message:
          <!-- alerts -->
          <div class="d-flex justify-content-center">
            <div class="alert alert-{{ status_class}}" role="alert" style="width: 80%;">
              {{ status_message }}
            </div>
          </div>
          % end

          <br /> <!-- separator -->



    </div>
    <!-- /main container -->

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
  </body>
</html>
